<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Event Submission</title>
    </head>
    <body>
        <h2>Submit Event</h2>
        <form method="POST">
            <input name ="title" tpye="title" placeholder="title" required><br>
            <input name ="date" tpye="date" placeholder="date" required><br>
            <input name ="location" tpye="location" placeholder="location" required><br>
            <input name ="description" tpye="description" placeholder="desc"><br>
            <button type="submit">Submit Event</button>
        </form>
    </body>
</html>
</html>